@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* configuration primary button  */

.outline-large-default {
  display: flex;
  width: 149px;
  padding: var(--12, 12px) var(--20, 20px);
  justify-content: center;
  align-items: center;
  border-radius: var(--4, 4px);
  border: 1px solid var(--Tons-white, #fff);
  text-align: center;
  /* Buttons/Bold/Medium */
  font-family: "Red Hat Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.fill-large-default {
  display: flex;
  width: 155px;
  padding: var(--12, 12px) var(--20, 20px);
  justify-content: center;
  align-items: center;
  border-radius: var(--4, 4px);
  background: var(--Tons-white, #fff);
  text-align: center;
  /* Buttons/Bold/Medium */
  font-family: "Red Hat Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
