@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}

.grid-default {
  @apply w-[1200px] mx-auto;
}

button {
  transition: all 0.4s ease;
}

.bg-gradient-brand {
  background: url("/Rectangle22694.png") lightgray 0px -148.096px / 100.366% 147.85%
    no-repeat;
}
